@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #21201c;
  --background-rgb: #fdfdfc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #eeeeec;
    --background-rgb: #111110;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
